@import 'partials/_setup.scss';
html, body {
	width: 100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #2B2B2B;
	font-weight: 400;

}
.container{
	width:1100px!important;
}

li {
	list-style: none!important;
}
a {
	text-decoration: none;
	color: #2A2B2C;
}
.stickyNav {
	padding: 0;
	background-color: #2A2B2C;
	.wrapper {
		width: 95%;
		background-color: #2A2B2C;
		margin: 0;
		ul {
			margin: 0;
			display: inline-flex;
			flex-direction: row;
			width: 100%;
			.left, .right {
				margin-right: auto;
				display: inline-flex;
				flex-direction: row;
			}
			
			.left {
				margin-left: auto;
			}
			#right {
				margin: 1em;
			}
			#left {
				margin: 1em;
			}
		}
		a {
			color: #8F8F8F;
			font-size: .3rem;
			text-transform: uppercase;
		}
		a:hover {
			text-decoration: underline;
			font-size: 1rem;
		}
	}
}
.header-img {
	text-align: center;
	padding: 1.225em;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
nav {
	width: 100%;
	border-top: 1px solid darken(#F9FAFB, 10%);
	.wrapper {
		width: 996px;
		margin: 0 auto;
		margin: 0 auto;
		text-align: center;
	}
	ul {
		display: inline-flex;
		justify-content: flex-end;
		margin: 0 auto;
		text-align: center;
		li {
			margin: 1em;
			a {
				font-size: .6em;
			}
		}
	}
}
header {
	background: url('/assets/plant_hero.jpeg');
	opacity: .85;
	background-size:cover;

	background-position:top center;

	text-align: center;
	margin: 0 auto;
		img {
			width:30%;
		}
	h1 {
		
		font-size: 1.375rem;/* Approximation due to font substitution */
		font-weight: 400;
	}
}
.headerBox {
	color: lighten(white, 55%);
	text-transform: uppercase;
	font-size: .8em;
	margin:0 auto;
	padding-top:6.5em;
	padding-bottom:3em;
	letter-spacing: .2em;

	button {
		background: #2A2B2C;
		color: #E0E1E2;
		margin: .5em;
		margin-top:2em;
		text-transform:uppercase;
		border: none;
		padding: .5em;
		width:14%;
		font-size: 0.813rem;

	}
	button:last-child {
		background: #D8DC61;
		color: #2A2B2C;
		text-transform:uppercase;
		max-width:182px;
		width:10%;
		font-size: 0.813rem;
	}

}
.plantDivide {
	background: url('/assets/plants_wide.jpeg');
	background-size: cover;
}
footer {
	background: url('/assets/footer_bg.jpg');
	background-size: contain;
}
.aboutHeader {
	background: ('assets/plants_wide.jpeg');
	background-size: cover;
}
.aboutHero {
	background: ('/assets/girl_tree.jpeg');
	background-size: cover;
}
.testimonial {
	background: ('/assets/flower_pots.jpeg');
	background-size: cover;
}
.welcome {
	padding-top:3em;
	margin: 0;
	text-transform:uppercase;

	.container {
		max-width: 65%;
		margin:0 auto;
		text-align: center;
		margin: 0 auto;

		h2 {
			color:  #2b2b2b;
			font-size: 1.875rem;
			font-weight: 400;
			line-height:2;
			margin:0 auto;
		}
			p {
				color:  #949494;
				font-size: 0.738rem;/* Approximation due to font substitution */
				font-weight: 400;
				line-height: 1.6;/* Approximation due to font substitution */
				text-align: center;
				max-width:74.2%;
				text-transform:none;
				margin:0 auto;
			}

	.gallery {
		padding-top:2em;
		margin:0 auto;
			ul {
	 		display:inline-block;
			width:32%;
	 		}
				li {
					color: #1A1D20;
	
					a {
						font-family: Poppins;
						color:  #2b2b2b;
						font-size: 1.125rem;/* Approximation due to font substitution */
						font-weight: 400;
					}

					a:hover{
						color:  #80a05d;
					}
				}
					img {
						max-height:193px;
						max-width:100%;
					}
			}
		}	
}
.featuredItems {
background:#f1f1f1;
padding:2em;
	.container {
		width:65%;
		margin:0 auto;
			h1 {
				text-align: center;
				
				color:  #2b2b2b;
				font-size: 1.875rem;
				font-weight: 400;
				text-align: center;
				text-transform:uppercase;
			}
		ul {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			li {
				margin: .5em;
			}	
			li:hover {
				color: #B5C9A3;
			}
		}
	}
}
.featuredPics {
	background:#f1f1f1;
	margin:0 auto;

	
	.plantWrapper {
		
		max-width:65%;
		margin:0 auto;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;

		

		.one,.two,.three{
			margin:1em;
		min-width:350px;
			min-height:345px;
			flex:1;
		}
	


	
	.four {
	
margin-bottom:auto;
	border: 5px solid white;
	}
}
}





.arrivals {
	padding: 1em;
	.container {
		width: 75%;
		margin: 0 auto;
		h3 {
			text-transform: uppercase;
			letter-spacing: .175em;
			font-color: #2B2B2B;
		}
	}
}
.plant {
	display: inline-grid;
	margin: .5em;
	grid-row-start: 3;
	grid-row-end: 4;
	img {
		max-height: 250px;
	}
}
.plant1 {
	img {
		height: 390px;
		width: 410px;
	}
}
.plant1, .plant2, .plant3 {
	// width:25%;
	// display:inline-flex;
	justify-content: flex-start;
}
.plantDivide {
	padding: 2.5em;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	img {
		max-width: 50%;
	}
}
.blog {
	h3 {
		font-size: 2em;
		text-align: center;
		display: block;
	}
	padding:1em;
	margin:0 auto;
	.container {
		display: flex;
		width: 75%;
		margin: 0 auto;
		justify-content: center;
	}
	.box1, .box2 {
		margin: 2.5em;
		padding: .25em;
		position: relative;
		text-align: left;
		img {
			max-width: 80%;
		}
		h4 {
			font-weight: 700;
		}
		.details, .month {
			color: #819F60;
		}
		.date, .month {
			padding: .075em;
		}
		.date {
			font-size: 7em;
			position: absolute;
			top: -4%;
			z-index: 1;
			bottom: 0;
			left: -35%;
			right: 0;
			color: #ECECEC;
		}
		.month {
			text-transform: uppercase;
			font-size: 2em;
			position: absolute;
			left: -35%;
			top: 28%;
			z-index: 2;
		}
	}
}
footer {
	color: white;
	padding: 1em;
	.wrapper3 {
		width: 75%;
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
	.boxA, .boxB, .boxC {}
	.boxA {
		text-align: center;
		li {
			h4 {
				text-transform: uppercase;
				letter-spacing: .25em;
				padding-bottom: 1em;
				border-bottom: 1px solid #343434;
			}
			p {
				color: #858585;
				font-size: 0.938rem;
				/* Approximation due to font substitution */
				font-weight: 400;
				line-height: 1.6;
				/* Approximation due to font substitution */
				text-align: center;
			}
			.fa {
				margin: .2em;
			}
			.fa:hover {
				color: #858585;
			}
		}
	}
	.boxB {
		text-align: center;
		width: 100%;
		margin: 0 auto;
		h4 {
			text-transform: uppercase;
			text-align: center;
			margin-left: 3em;
			letter-spacing: .25em;
			border-bottom: 1px solid #343434;
			padding-bottom: 1em;
		}
		li {
			a {
				color: #858585;
				font-size: .75em;
				text-align: center;
			}
		}
	}
	.boxC {
		text-align: center;
		h4 {
			text-transform: uppercase;
			letter-spacing: .25em;
			border-bottom: 1px solid #343434;
			padding-bottom: 1em;
			width: 100%;
		}
		button {
			background: #D9DC5F;
			border: none;
			padding: .25em;
			margin-top: 1em;
			width: 50%;
		}
		li {
			color: #858585;
			font-size: .75em;
		}
		input {
			width: 100%;
		}
	}
}
.headerTwo{
	border-top:1px solid #E8E8E8;
	}
.aboutHeader {
	background: url('/assets/plants_wide.jpeg'), linear-gradient(rgba(42, 56, 33, .025), rgba(129, 160, 93, 0.8));
	background-blend-mode: overlay;
	background-size: cover;
	height: 30vh;
	h1 {
		color: white;
		font-size: 2.225rem;
		transform: scaleX(1.001);
		text-transform: uppercase;
		letter-spacing: .1em;
		font-weight: 400;
		text-align: center;
		padding-top: 1em;
	}
}
.navAbout {
	border-bottom:1px solid #E8E8E8;
		.container {
			width:75%;
			padding-left:2em;
			text-transform: lowercase;
				li {
					display: inline-flex;
					flex-direction: row;
					color: #696969;
					font-size: 0.866rem;
					font-weight: 400;
					line-height: 10.469;	
					text-align: left;
					transform: scaleX(1.015);
				}
					.fa {
						font-size: .2rem;
						padding: .6em;
					}
	}
}
.aboutHero {
	padding-top:20em;
	background: url('/assets/girl_tree.jpeg');
	background-position: center 100%;
	background-repeat: no-repeat;
	margin-top:3em;
	height:100vh;
	
	.container {
		margin:0 auto;
		width:75%;
		text-align: center;
			h2 {
			padding:.1em;
			padding-left:1.2em;
			padding-right:1.2em;
			color: #80a05d;
			font-size: 1.35em;
			font-weight: 200;
			letter-spacing:.0725em;
			line-height: 1.605;
			text-decoration: underline;
			text-align: left;
		}
				.heroBox {
					background: white;
					display:inline-flex;
					padding:.225em;
					max-width:59.25%;
					margin-left:-12em;
					margin-top:5em;
			}
	}
}

.aboutServices {
	border-top:1px solid #EBEBEB;
	border:1px solid black;

	.container {
		width:75%;
		margin:0 auto;
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		height:70vh;
		
			ul {
				padding:2em;
				margin-top:4em;
			}
		}
	.firstChild {
		text-transform:uppercase;
color:#819F60;


font-size: 1.025rem;/* Approximation due to font substitution */
font-weight: 500;
width:10rem;
letter-spacing:.1em;
color:  #80a05d;
font-size: 1.125rem;/* Approximation due to font substitution */
font-weight: 500;
	}

		p {
		color: #949494;
		font-size: 0.875rem;/* Approximation due to font substitution */
		font-weight: 400;
		line-height: 1.286;/* Approximation due to font substitution */
		text-align: center;
		}

	.option1, .option2, .option3, .option4 {
	text-align:center;
	margin:0 auto;
	background:#F5F5F5;
	background-size:contain;
	background-repeat:no-repeat;



	}
	.option1:hover, .option2:hover, .option3:hover, .option4:hover {
background: url('/assets/hover_image.jpeg') ;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
	}
	.option1 {
		background:url('/assets/bg_logo_left.png');
		background-size:cover;
		background-repeat:no-repeat;
	
		}

	
		

	.option4 {
	background:url('/assets/bg_logo_right.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	flex:auto;
		
	}
	
}

.testimonial {
	margin:0 auto;
	padding:0;
	height:60vh;
	background:url("/assets/flower_pots.jpeg");
	background-position:  85% 90%;
	background-size:cover;
	width:100%;
	background-repeat:no-repeat;
	position:relative;
	background-attachment: fixed;


.containertwo {
	padding:4em;

	}
}


.text-wrap{
	width:100%;
	padding:3em;
	margin:0 auto;
	text-align:center;

		h4 {
		font-family: Poppins;
		color:  #ffffff;
		margin:0 auto;
		font-style:italic;
		padding-top:1em;
		font-size: 1.6rem;/* Approximation due to font substitution */
		font-weight:100;
		width:60%;
		text-align: center;
		}

	.name {
		background-color: #1C1C1C;
		width:20%;
		text-align:center;
		color:white;
		padding:.125em;
		margin:0 auto;
		font-family: Poppins;
		color:  #ffffff;
		font-size: 1.25rem;/* Approximation due to font substitution */
		font-weight: 600;
		margin-top:1em;
	}

	.location {
		font-family: Poppins;
		color:  #ffffff;
		font-size: 0.875rem;/* Approximation due to font substitution */
		font-weight: 300;
		margin:0 auto;
	}
}

.testimonial:before{
	content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	background-color:  rgba(166, 163, 163, 0.38);


}
.containerMain{
	max-width:75%!important;
	margin:0 auto;
}
