article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

body {
  font-family: 'Poppins', sans-serif;
  color: #2B2B2B; }

li {
  list-style: none !important; }

a {
  text-decoration: none;
  color: #2A2B2C; }

.stickyNav {
  padding: 0;
  background-color: #2A2B2C; }
  .stickyNav .wrapper {
    width: 95%;
    background-color: #2A2B2C;
    margin: 0; }
    .stickyNav .wrapper ul {
      margin: 0;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%; }
      .stickyNav .wrapper ul .left, .stickyNav .wrapper ul .right {
        margin-right: auto;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
      .stickyNav .wrapper ul .left {
        margin-left: auto; }
      .stickyNav .wrapper ul #right {
        margin: 1em; }
      .stickyNav .wrapper ul #left {
        margin: 1em; }
    .stickyNav .wrapper a {
      color: #8F8F8F;
      font-size: .3rem;
      text-transform: uppercase; }
    .stickyNav .wrapper a:hover {
      text-decoration: underline;
      font-size: 1rem; }

.header-img {
  text-align: center;
  padding: 1.225em;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%; }

nav {
  width: 100%;
  border-top: 1px solid #dae1e7; }
  nav .wrapper {
    width: 75%;
    margin: 0 auto;
    margin: 0 auto;
    text-align: center; }
  nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 auto;
    text-align: center; }
    nav ul li {
      margin: 1em; }
      nav ul li a {
        font-size: .6em; }

header {
  background: url("/assets/plant_hero.jpeg");
  opacity: .85;
  background-size: cover;
  height: 100vh;
  text-align: center;
  margin: 0 auto; }

.headerBox {
  color: white;
  text-transform: uppercase;
  font-size: .8em;
  padding: 1em;
  letter-spacing: .5em; }
  .headerBox img {
    margin-top: 6em;
    height: 250px; }
  .headerBox button {
    background: #2A2B2C;
    color: #E0E1E2;
    margin: 1.5em;
    border: none;
    padding: .9em;
    min-width: 100px; }
  .headerBox button:last-child {
    background: #D8DC61;
    color: #2A2B2C; }

.plantDivide {
  background: url("/assets/plants_wide.jpeg");
  background-size: cover; }

footer {
  background: url("/assets/footer_bg.jpg");
  background-size: contain; }

.aboutHeader {
  background: "assets/plants_wide.jpeg";
  background-size: cover; }

.aboutHero {
  background: "/assets/girl_tree.jpeg";
  background-size: cover; }

.testimonial {
  background: "/assets/flower_pots.jpeg";
  background-size: cover; }

.welcome {
  padding: 1em;
  margin-right: 4em; }
  .welcome p {
    color: #939495; }
  .welcome .container {
    width: 75%;
    text-align: center;
    margin: 0 auto; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .gallery li {
    color: #1A1D20; }
  .gallery img {
    width: 100%;
    max-height: 130px; }

.featuredItems {
  background: #F0F1F2; }
  .featuredItems h1 {
    text-align: center;
    padding-top: 1em; }
  .featuredItems ul {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .featuredItems ul li {
      margin: 2em; }
    .featuredItems ul li:hover {
      color: #B5C9A3; }

.plantWrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 75%; }

.one, .two, .three, .four, .five {
  max-height: 200px;
  max-width: 200px;
  background-size: contain;
  margin: 1em; }

.one {
  background: url("/assets/Homepage-01_plant_07.jpg");
  grid-column: 1 / 2;
  grid-row: 1; }

.two {
  background: url("/assets/Homepage-01_plant_09.jpg");
  grid-column: 2 / 2;
  grid-row: 1 / 3; }

.three {
  background: url("/assets/half_plant.jpg");
  grid-row: 2 / 2;
  grid-column: 1; }

.four {
  background: url("/assets/Homepage-01_plant_15.jpg");
  grid-column: 2;
  grid-row: 2; }

.five {
  border: 5px solid white;
  max-height: 400px;
  max-width: 293.5px; }
  .five img {
    max-width: 400px;
    -webkit-transform: translateX(25%);
        -ms-transform: translateX(25%);
            transform: translateX(25%); }

.arrivals {
  padding: 1em; }
  .arrivals .container {
    width: 80%;
    margin: 0 auto; }
    .arrivals .container h3 {
      text-transform: uppercase;
      letter-spacing: .175em;
      font-color: #2B2B2B; }

.plant {
  display: inline-grid;
  margin: .5em;
  grid-row-start: 3;
  grid-row-end: 4; }
  .plant img {
    max-height: 250px; }

.plant1 img {
  height: 390px;
  width: 410px; }

.plant1, .plant2, .plant3 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.plantDivide {
  padding: 2.5em;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .plantDivide img {
    max-width: 50%; }

.blog {
  padding: 1em;
  margin: 0 auto; }
  .blog h3 {
    font-size: 2em;
    text-align: center;
    display: block; }
  .blog .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .blog .box1, .blog .box2 {
    margin: 2.5em;
    padding: .25em;
    position: relative;
    text-align: left; }
    .blog .box1 img, .blog .box2 img {
      max-width: 80%; }
    .blog .box1 h4, .blog .box2 h4 {
      font-weight: 700; }
    .blog .box1 .details, .blog .box1 .month, .blog .box2 .details, .blog .box2 .month {
      color: #819F60; }
    .blog .box1 .date, .blog .box1 .month, .blog .box2 .date, .blog .box2 .month {
      padding: .075em; }
    .blog .box1 .date, .blog .box2 .date {
      font-size: 7em;
      position: absolute;
      top: -4%;
      z-index: 1;
      bottom: 0;
      left: -35%;
      right: 0;
      color: #ECECEC; }
    .blog .box1 .month, .blog .box2 .month {
      text-transform: uppercase;
      font-size: 2em;
      position: absolute;
      left: -35%;
      top: 28%;
      z-index: 2; }

footer {
  color: white;
  padding: 1em; }
  footer .wrapper3 {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto; }
  footer .boxA {
    text-align: center; }
    footer .boxA li h4 {
      text-transform: uppercase;
      letter-spacing: .25em;
      padding-bottom: 1em;
      border-bottom: 1px solid #343434; }
    footer .boxA li p {
      color: #858585;
      font-size: 0.938rem;
      /* Approximation due to font substitution */
      font-weight: 400;
      line-height: 1.6;
      /* Approximation due to font substitution */
      text-align: center; }
    footer .boxA li .fa {
      margin: .2em; }
    footer .boxA li .fa:hover {
      color: #858585; }
  footer .boxB {
    text-align: center;
    width: 100%;
    margin: 0 auto; }
    footer .boxB h4 {
      text-transform: uppercase;
      text-align: center;
      margin-left: 3em;
      letter-spacing: .25em;
      border-bottom: 1px solid #343434;
      padding-bottom: 1em; }
    footer .boxB li a {
      color: #858585;
      font-size: .75em;
      text-align: center; }
  footer .boxC {
    text-align: center; }
    footer .boxC h4 {
      text-transform: uppercase;
      letter-spacing: .25em;
      border-bottom: 1px solid #343434;
      padding-bottom: 1em;
      width: 100%; }
    footer .boxC button {
      background: #D9DC5F;
      border: none;
      padding: .25em;
      margin-top: 1em;
      width: 50%; }
    footer .boxC li {
      color: #858585;
      font-size: .75em; }
    footer .boxC input {
      width: 100%; }

