@import 'partials/_setup.scss';
@import '_media-queries.scss';
$res-collection: (320, 480, 768, 1024, 1280, 1680);
$orientation-collection: (all, portrait, landscape);
$hdpi-collection: (1, 2);
$hdtv-collection: ('720p', '1080', '2K', '4K');
$mq-mobile: 768px;
$mq-tablet: 1024px;
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #2B2B2B;
	font-weight: 100;
	max-width: 100%;
	overflow-x: hidden!important;
	@include mq($max-width: 320px) {
		overflow-x: hidden!important;
	}
	@include mq($min-width: 320px, $max-width: 480px) {
		overflow-x: none;
	}
}
.container {
	max-width: 61%!important;
	margin: 0 auto!important;
	@include mq($max-width: 320px) {
		width: 100%!important;
		padding: 0!important;
	}
	@include mq($min-width: 768px, $max-width: 1024px) {
		max-width: 85%!important;
	}
}
h2 {
	font-size: 1.6em!important;
	margin: 0 auto;
	text-align: center!important;
	font-weight: 100!important;
	text-transform: uppercase!important;
	padding: 0;
}
h3 {
	font-size: 1.25em!important;
	font-weight: 100!important;
}
li {
	list-style: none!important;
}
a {
	text-decoration: none;
	color: #8f8f8f;
}
a:hover {
	border-bottom: 3px solid #819F60;
}
.navHeader {
	margin: 0 auto;
	.stickyNav {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background-color: #2A2B2C;
		.wrapper {
			display: inline-flex;
			flex-direction: row;
			min-width: 71%!important;
			justify-content: space-between;
			margin: 0 auto;
			@include mq($min-width: 1280px, $max-width: 1680px) {
				width: 85%;
				font-size: 1.2em;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				width: 100%;
				padding: 0;
				display: flex;
				flex-direction: column;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				width: 100%;
				padding: 0;
			}
			ul {
				display: inline-flex;
				flex-direction: row;
				@include mq($max-width: 320px) {
					margin: 0 auto;
				}
				#right {
					font-size: .7em;
					margin: 1em;
					margin-left: auto;
					@include mq($max-width: 320px) {
						margin: .2em;
						font-size: .2em;
					}
					@include mq($min-width: 320px, $max-width: 480px) {
						width: 100%;
						padding: 0;
						display: flex;
						flex-direction: column;
						margin: .4em;
						font-size: .6em;
						padding-right: 2em;
					}
					width:100%!important;
				}
				#left {
					font-size: .7em;
					margin: 1em;
					@include mq($max-width: 320px) {
						margin: .1em;
						font-size: .2em;
					}
					@include mq($min-width: 320px, $max-width: 480px) {
						width: 100%;
						padding: 0;
						display: flex;
						flex-direction: column;
						margin: .4em;
						font-size: .6em;
						padding-right: 2em;
					}
				}
			}
			.hvr-grow-shadow {
				display: inline-block;
				vertical-align: middle;
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				box-shadow: 0 0 1px transparent;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-webkit-transition-property: box-shadow, transform;
				transition-property: box-shadow, transform;
			}
			.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
				box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
	.header-img {
		text-align: center;
		padding: 1.225em;
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
		@include mq($max-width: 320px) {
			max-width: 50%;
			height: 50%;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			padding: 2em;
			max-width: 50%;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			margin: 0 auto;
		}
		@include mq($min-width: 1280px, $max-width: 1680px) {
			padding: 2em;
		}
	}
}
nav {
	border-top: 1px solid darken(#F9FAFB, 10%);
	.wrapper {
		margin: 0 auto;
		margin: 0 auto;
		text-align: center;
	}
	ul {
		display: inline-flex;
		justify-content: flex-end;
		margin: 0 auto;
		text-align: center;
		@include mq($max-width: 320px) {
			display: flex;
			flex-flow: wrap row;
			width: 100%;
			justify-content: center;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			display: flex;
			flex-flow: wrap row;
			max-width: 89%;
			justify-content: center;
		}
		li {
			margin: 1em;
			@include mq($min-width: 320px, $max-width: 480px) {
				margin: .4em;
			}
			a {
				font-size: .6em;
				@include mq($min-width: 1280px, $max-width: 1680px) {
					font-size: 1em;
				}
				@include mq($min-width: 320px, $max-width: 480px) {
					font-size: .76em;
				}
			}
		}
	}
}
header {
	background: url('/assets/plant_hero.jpeg');
	opacity: .85;
	background-size: cover;
	background-position: top center;
	text-align: center;
	margin: 0 auto;
	svg {
		display: none;
		@include mq($min-width: 320px, $max-width: 480px) {
			display: block;
			width: 15.5%;
			margin: 0 auto;
			fill: #ffff;
		}
	}
	img {
		width: 30%;
		@include mq($max-width: 320px) {
			width: 50%;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			width: 85%;
			padding: 1em;
		}
	}
	h1 {
		font-size: 1.375rem;
		/* Approximation due to font substitution */
		font-weight: 400;
		@include mq($min-width: 320px, $max-width: 480px) {
			color: #ffff;
			padding: .5em;
			font-weight: 800;
			font-size: 1.8em;
		}
	}
}
.headerBox {
	color: lighten(white, 55%);
	text-transform: uppercase;
	font-size: .8em;
	margin: 0 auto;
	padding-top: 6.5em;
	padding-bottom: 3em;
	letter-spacing: .2em;
	button {
		background: #2A2B2C;
		color: #E0E1E2;
		margin: .5em;
		margin-top: 2em;
		text-transform: uppercase;
		border: none;
		padding: .5em;
		width: 14%;
		font-size: 0.813rem;
		@include mq($max-width: 320px) {
			margin: 0;
			width: 100%;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			width: 95%;
			margin: 0;
		}
	}
	button:last-child {
		background: #D8DC61;
		color: #2A2B2C;
		text-transform: uppercase;
		max-width: 182px;
		width: 10%;
		font-size: 0.813rem;
		@include mq($max-width: 320px) {
			width: 100%;
			margin: 0;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			display: none;
		}
	}
}
.plantDivide {
	background: url('/assets/plants_wide.jpeg');
	background-size: cover;
}
footer {
	background: url('/assets/footer_bg.jpg');
	background-size: cover;
}
.aboutHeader {
	background: ('assets/plants_wide.jpeg');
	background-size: cover;
}
.testimonial {
	background: ('/assets/flower_pots.jpeg');
	background-size: cover;
}
.welcome {
	padding: 3em 2em;
	text-transform: uppercase;
	@include mq($max-width: 320px) {
		padding: 1em;
	}
	@include mq($min-width: 320px, $max-width: 480px) {
		padding: 2em;
	}
	@include mq($min-width: 1280px, $max-width: 1680px) {}
	.container {
		width: 61%!important;
		text-align: center;
		justify-content: center;
		@include mq($min-width: 320px, $max-width: 480px) {
			min-width: 100%!important;
			padding: 1em;
		}
		h2 {
			color: #2b2b2b;
			font-size: 1.875rem;
			font-weight: 400;
			line-height: 2;
			margin: 0 auto;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			font-size: .8rem;
		}
		p {
			color: #949494;
			font-size: 0.738rem;
			/* Approximation due to font substitution */
			font-weight: 400;
			line-height: 1.6;
			/* Approximation due to font substitution */
			text-align: center;
			text-transform: none;
			margin: 0 auto;
			@include mq($max-width: 320px) {
				text-align: left;
			}
			@include mq($min-width: 1280px, $max-width: 1680px) {
				max-width: 80%;
				font-size: 1em;
			}
		}
		.gallery {
			padding: 1em;
			display: flex;
			flex-direction: row;
			justify-content: center;
			@include mq($max-width: 320px) {
				flex-direction: column;
				padding: 0;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				flex-direction: column;
			}
			.box1 {
				padding: .2em;
				@include mq($min-width: 1280px, $max-width: 1680px) {
					padding: 3em;
				}
				img {
					max-width: 262px;
				}
				a {
					font-family: Poppins;
					color: #2b2b2b;
					font-size: .925rem;
					/* Approximation due to font substitution */
					font-weight: 400;
					@include mq($min-width: 1280px, $max-width: 1680px) {
						font-size: 1em;
					}
					@include mq($min-width: 320px, $max-width: 480px) {
						font-size: .8rem;
					}
				}
			}
			img {
				max-width: 373px;
				max-height: 195px;
			}
		}
	}
}
.featuredItems {
	padding-top: 3em;
	padding-bottom: 4em;
	text-align: center;
	margin: 0 auto;
	background-color: #f1f1f1;
	@include mq($max-width: 320px) {
		padding: 0;
	}
	@include mq($min-width: 320px, $max-width: 480px) {
		padding: .5em;
	}
	.featuredWrap {
		margin: 0 auto;
		text-align: center;
	}
	h1 {
		text-transform: uppercase;
		color: #2b2b2b;
		font-size: 1.875rem;
		/* Approximation due to font substitution */
		font-weight: 400;
		line-height: 0;
		margin: 0 auto;
	}
	ul {
		display: inline-flex;
		text-align: center;
		padding: .5em;
		justify-content: center;
		@include mq($max-width: 320px) {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			margin: 0;
			padding: 0;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			display: inline-flex;
			flex-direction: column;
			max-width: 100%!important;
			margin: 0;
			padding: 0;
		}
	}
	li {
		margin: 3em;
		font-family: Poppins;
		color: #b1b1b1;
		font-size: 0.738rem;
		/* Approximation due to font substitution */
		font-weight: 500;
		text-align: left;
		text-transform: uppercase;
		@include mq($max-width: 320px) {
			margin: .225em;
			text-align: center;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			margin: .45em;
			text-align: center;
		}
	}
	li:hover {
		color: #80a05d;
	}
	figure.products {
		display: flex;
		flex-direction: row;
		flex-flow: wrap row;
		justify-content: center;
		@include mq($max-width: 320px) {
			flex-direction: column;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			flex-direction: column;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {}
		.plantWrapper {
			display: flex;
			flex-flow: wrap row;
			flex-direction: row;
			max-width: 61%;
			@include mq($max-width: 320px) {
				padding: 0;
				text-align: center;
				width: 100%;
				flex-direction: column;
				justify-content: center;
				margin: 0 auto;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				padding: 0;
				flex-direction: column;
				justify-content: center;
				margin: 0 auto;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				max-width: 100%!important;
				justify-content: center;
			}
			.containerPlant {
				min-width: 35%;
				// width:34.5%;
				// display:flex;
				// align-items:center;
				// flex-flow:wrap row;
				padding-left: 1.225em;
				margin: -.325em;
				@include mq($max-width: 320px) {
					text-align: center;
					margin: 0;
					padding: 0;
					max-width: 100%;
				}
				@include mq($min-width: 320px, $max-width: 480px) {
					text-align: center;
					margin: 0;
					padding: 0;
					max-width: 100%;
				}
				@include mq($min-width: 768px, $max-width: 1024px) {
					margin: 0;
					text-align: center;
				}
				.product1 {
					background: url('/assets/Homepage-01_plant_07.jpg');
					min-height: 347px;
					width: 95%;
					margin-left: -1.5em;
					display: flex;
					flex-direction: column;
					background-size: contain;
					background-repeat: no-repeat;
					position: relative;
					@include mq($max-width: 320px) {
						height: 100%;
						max-width: 100%;
						text-align: center;
						margin: 0;
					}
					@include mq($min-width: 320px, $max-width: 480px) {
						height: 100%;
						max-width: 100%;
						text-align: center;
						margin: 0;
					}
					.new {
						border-radius: 50%;
						background-color: #ffd19e;
						width: 41px;
						height: 41px;
						position: absolute;
						top: 0;
						right: 0;
						h5 {
							color: #3b3b3b;
							font-size: 0.25rem;
							/* Approximation due to font substitution */
							font-weight: 600;
							line-height: 3;
							/* Approximation due to font substitution */
							padding-top: .8em;
							margin: 0 auto;
							@include mq($min-width: 320px, $max-width: 480px) {
								font-size: .5rem;
							}
						}
					}
				}
				.product2 {
					background: url("/assets/Homepage-01_plant_09.jpg");
					min-height: 347px;
					max-width: 95%;
					margin-left: -2.5em;
					display: flex;
					flex-direction: column;
					background-size: contain;
					background-repeat: no-repeat;
					background-repeat: no-repeat;
					@include mq($max-width: 320px) {
						height: 100%;
						max-width: 100%;
						text-align: center;
						margin: 0;
					}
					@include mq($min-width: 320px, $max-width: 480px) {
						height: 100%;
						max-width: 100%;
						text-align: center;
						margin: 0;
					}
				}
				.product3 {
					background: url("/assets/half_plant.jpg");
					margin-left: -1.5em;
					height: 347px;
					margin-top: 2em;
					width: 95%;
					display: flex;
					flex-direction: column;
					background-size: contain;
					background-repeat: no-repeat;
					background-repeat: no-repeat;
					position: relative;
					.product-description {
						.new {
							border-radius: 50%;
							background-color: #d9de55;
							width: 41px;
							height: 41px;
							position: absolute;
							top: 0;
							right: 0;
							h5 {
								color: #3b3b3b;
								font-size: 0.25rem;
								/* Approximation due to font substitution */
								font-weight: 600;
								line-height: 3;
								/* Approximation due to font substitution */
								padding-top: 1em;
								margin: 0 auto;
								@include mq($min-width: 320px, $max-width: 480px) {
									font-size: .5rem;
								}
							}
						}
					}
					@include mq($max-width:320px) {
						max-height: 100%;
						width: 100%;
						text-align: center;
						margin: 0;
					}
					@include mq($min-width: 320px, $max-width: 480px) {
						max-height: 100%;
						width: 100%;
						text-align: center;
						margin: 0;
					}
				}
				.product4 {
					background: url("/assets/Homepage-01_plant_15.jpg");
					height: 347px;
					margin-top: 2em;
					margin-left: -2.5em;
					background-size: cover;
					display: flex;
					flex-direction: column;
					max-width: 95%;
					display: flex;
					flex-direction: column;
					background-size: contain;
					background-repeat: no-repeat;
					background-repeat: no-repeat;
					@include mq($max-width: 320px) {
						max-height: 100%;
						max-width: 100%;
						text-align: center;
						margin: 0;
					}
					@include mq($min-width: 320px, $max-width: 480px) {
						max-height: 100%;
						max-width: 100%;
						text-align: center;
						margin: 0;
					}
				}
			}
			.product-description {
				margin-top: auto;
				padding: 1.6em;
				font-size: 0.738rem;
				background: white;
				width: auto;
				h4 {
					color: #3d3d3d;
					font-size: 1.0em;
					font-weight: 400;
					line-height: 1.025;
					text-align: center;
				}
				p {
					color: #c0c0c0;
					font-size: 0.875rem;
					font-weight: 600;
					line-height: 1.286;
					text-align: center;
				}
			}
		}
	}
}
.add {
	display: flex;
	text-align: center;
	button {
		text-transform: uppercase;
		min-width: 100%;
		border: none;
		background: #f1f1f1;
		font-size: .6em;
		padding: 1em;
	}
	button:hover {
		background-color: #80a05d;
		color: white;
	}
}
.bestWishes {
	overflow-x: hidden;
	max-width: 30%;
	margin: -.225em;
	height: 716px;
	border: 4px solid white;
	text-align: left;
	padding: 3em;
	position: absolute;
	right: 13%;
	@include mq($max-width: 320px) {
		position: relative;
		max-width: 60%;
		height: 50%;
		text-align: center;
		margin: 0 auto;
		padding: 1.2em;
		margin-bottom: 1em;
		margin-right: 1.5em;
	}
	@include mq($min-width: 320px, $max-width: 480px) {
		position: relative;
		max-width: 60%;
		max-height: 400px;
		text-align: center;
		margin: 0 auto;
		padding: 1.2em;
		margin-bottom: 1em;
		margin-right: 1.5em;
		background: url('/assets/cactusplants.jpg');
		background-size: 75% auto;
		background-position-y: 100%;
		background-position-x: 100%;
		background-repeat: no-repeat;
	}
	@include mq($min-width: 768px, $max-width: 1024px) {
		position: relative;
		max-width: 500px;
		padding: 1em;
		height: 25%;
		margin-left: 25%;
		margin-top: 1em;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
	}
	.bestText {
		h3 {
			text-transform: uppercase;
			color: #313131;
			font-size: 2.25rem;
			/* Approximation due to font substitution */
			font-weight: 400;
			line-height: 1.167;
			text-align: left;
			@include mq($max-width: 320px) {
				font-size: 1rem!important;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				font-size: 1rem!important;
			}
		}
		strong {
			color: #80a05d;
			font-size: 2.25rem;
			font-weight: 600;
			line-height: 1.167;
			text-align: left;
			@include mq($max-width: 320px) {
				font-size: 1rem!important;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				font-size: 1rem!important;
			}
		}
		p {
			color: #949494;
			font-size: 0.838rem;
			font-weight: 400;
			padding-right: 1em;
			line-height: 1.6;
			text-align: left;
			@include mq($max-width: 320px) {
				font-size: .4rem;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				font-size: .7rem;
			}
		}
		a {
			position: relative;
			color: #3b3b3b;
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 2.571;
			text-align: left;
		}
		a:before {
			content: "―";
			padding: 1em;
		}
	}
}
.bestImage {
	position: relative;
	z-index: 1;
	@include mq($max-width: 320px) {
		display: none;
	}
	img {
		max-width: 470px;
		height: 271px;
		z-index: 1;
		position: absolute;
		bottom: 10px;
		transform: translateX(-24%);
		@include mq($min-width: 1280px, $max-width: 1680px) {
			transform: translateX(11.5%);
		}
		@include mq($max-width: 320px) {
			display: none;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			display: none;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			display: none;
		}
	}
}
.arrivals {
	z-index: 0;
	.container {
		width: 61%!important;
		margin: 0 auto;
		text-align: center;
		padding-top: 2em;
		padding-bottom: 4em;
		h2 {
			padding: 2em;
			@include mq($min-width: 320px, $max-width: 480px) {
				padding: .5em;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				padding: .8em;
			}
		}
		.wrapper2 {
			display: flex;
			flex-flow: wrap row;
			flex-direction: row;
			justify-content: space-between;
			@include mq($max-width: 320px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0 auto;
				text-align: center;
			}
			@include mq($min-width: 1280px, $max-width: 1680px) {
				justify-content: space-around;
				max-width: 80%;
				margin: 0 auto;
			}
			.plant1 {
				img {
					width: 455px;
					height: 342px;
					@include mq($max-width: 320px) {
						display: none;
					}
					@include mq($min-width: 320px, $max-width: 480px) {
						display: none;
					}
					@include mq($min-width: 768px, $max-width: 1024px) {
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
			.plant2, .plant3, .plant4, .plant5, .plant6, .plant7 {
				img {
					width: 149px;
					height: 188px;
				}
			}
		}
	}
}
.plantDivide {
	padding: 2.5em;
	width: 100%;
	max-height: 486px;
	margin: 0 auto;
	text-align: center;
	@include mq($max-width: 320px) {
		padding: .5em;
		width: 100%!important;
	}
	@include mq($min-width: 320px, $max-width: 480px) {
		padding: 2em;
	}
	img {
		max-width: 50%;
		@include mq($min-width: 320px, $max-width: 480px) {
			max-width: 100%;
		}
	}
}
.blog {
	padding-top: 4em;
	@include mq($max-width: 320px) {
		padding: 1em!important;
	}
	@include mq($min-width: 320px, $max-width: 480px) {
		padding: 1em;
	}
	@include mq($min-width: 768px, $max-width: 1024px) {
		padding: 2em;
	}
	h3 {
		font-size: 2em;
		text-align: center;
		display: block;
	}
	margin:0 auto;
	.container {
		display: flex;
		margin: 0 auto;
		justify-content: space-around;
		width: 60%!important;
		@include mq($max-width: 320px) {
			display: flex;
			flex-direction: column;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			display: flex;
			flex-direction: column;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			display: flex;
			flex-direction: column;
		}
	}
	.box1, .box2 {
		position: relative;
		margin: 1.2em;
		z-index: 1;
		@include mq($max-width: 320px) {
			padding: 0!important;
			margin: 0 auto;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			padding: 0;
			margin: 0 auto;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			padding: 0;
			margin: 0 auto;
			text-align: center;
			padding: 1em;
		}
		svg {
			width: 20%;
			display: block;
			position: absolute;
			left: -25%;
			z-index: 10;
			@include mq($min-width: 320px, $max-width: 480px) {
				width: 32%;
				left: -30%;
			}
		}
		padding: .25em;
		position: relative;
		text-align: left;
		img {
			max-width: 370px;
			max-height: 263px;
			@include mq($max-width: 320px) {
				padding: 0!important;
				width: 95%;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				padding: 0;
				width: 95%;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				max-width: 100%;
				max-height: 100%;
			}
		}
		h4 {
			color: #282828;
			font-size: 1.05rem;
			/* Approximation due to font substitution */
			font-weight: 500;
			line-height: 1.1;
			/* Approximation due to font substitution */
			text-align: left;
			@include mq($max-width: 320px) {
				font-size: .5em;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				font-size: 1.5em;
				text-align: center;
			}
		}
		.details, .month {
			color: #80a05d;
			font-size: 0.875rem;
			/* Approximation due to font substitution */
			font-weight: 400;
			line-height: 1.571;
			/* Approximation due to font substitution */
			text-align: left;
			@include mq($max-width: 320px) {
				font-size: .5em;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				font-size: 1em;
				text-align: center;
			}
		}
		.date, .month {
			padding: .075em;
			display: none;
		}
		.month {
			text-transform: uppercase;
			font-size: 2em;
			position: absolute;
			left: -35%;
			top: 28%;
			z-index: 2;
		}
	}
}
.logo {
	background: url('/assets/Logos.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 97px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	@include mq($max-width: 320px) {
		display: none;
	}
	@include mq($min-width: 320px, $max-width: 480px) {
		background-size: auto 70%;
		min-height: 45px;
	}
	@include mq($min-width: 768px, $max-width: 1024px) {
		min-height: 70px;
		background-size: cover;
		padding: 2rem;
	}
}
.logo:after {
	position: absolute;
	content: '';
	background-color: rgba(241, 241, 241, .4);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
footer {
	color: white;
	padding-top: 1.75em;
	margin: 0 auto;
	padding-bottom: 3em;
	border-bottom: none;
	.container {
		padding-top: 1em;
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		margin: 0 auto!important;
		text-align: center!important;
		@include mq($max-width: 320px) {
			flex-direction: column!important;
			padding: 2;
			margin: 0 auto!important;
			width: 100%!important;
		}
		@include mq($min-width: 320px, $max-width: 480px) {
			display: flex;
			flex-flow: wrap row;
			flex-wrap: no-wrap;
			justify-content: center;
			width: 100%!important;
			padding: .25em;
			margin: 0 auto;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			padding: 0;
		}
		.boxA, .boxB, .boxC {
			width: 30.333%;
			border-bottom: none;
			@include mq($max-width: 320px) {
				width: 100%!important;
				margin: 0 auto!important;
				text-align: center!important;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				width: 100%!important;
				display: inline-flex;
				flex-direction: column;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				width: 20%;
				margin: 0 auto;
			}
		}
		.boxA {
			width: 25%;
			@include mq($max-width: 320px) {
				width: 100%!important;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				width: 100%!important;
			}
			ul {
				text-align: center;
				li {
					@include mq($min-width: 320px, $max-width: 480px) {
						min-width: 100%!important;
					}
					h4 {
						text-transform: uppercase;
						letter-spacing: .25em;
						padding-bottom: .5em;
						border-bottom: 1px solid #343434;
						@include mq($max-width: 320px) {
							font-size: .4em;
						}
						@include mq($min-width: 320px, $max-width: 480px) {
							font-size: 1em!important;
							border-bottom: none;
						}
						@include mq($min-width: 768px, $max-width: 1024px) {
							font-size: .8em;
						}
					}
					img {
						@include mq($max-width: 320px) {
							width: 50%;
						}
						@include mq($min-width: 320px, $max-width: 480px) {
							width: 50%;
						}
						@include mq($min-width: 768px, $max-width: 1024px) {
							width: 70%;
						}
					}
					p {
						color: #858585;
						font-size: 0.938rem;
						font-weight: 400;
						line-height: 1.6;
						text-align: center;
						@include mq($max-width: 320px) {
							font-size: .4em;
						}
						@include mq($min-width: 320px, $max-width: 480px) {
							font-size: .938rem;
						}
						@include mq($min-width: 768px, $max-width: 1024px) {
							text-align: left;
							font-size: .7em;
						}
					}
					.fa {
						margin: .225em;
						padding: .15em;
						font-size: .9em;
						@include mq($max-width: 320px) {
							font-size: .2em;
						}
						@include mq($min-width: 320px, $max-width: 480px) {
							font-size: 1em;
						}
						@include mq($min-width: 768px, $max-width: 1024px) {
							font-size: .8em;
							margin: .2em;
							padding: .2em;
							border-bottom: 1px solid green;
						}
					}
					.fa:hover {
						color: #858585;
					}
				}
			}
		}
		.boxB {
			text-align: center;
			@include mq($max-width: 320px) {
				width: 100%!important;
				margin: 0 auto;
				padding: 0;
				margin: 0;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				font-size: 1em;
				max-width: 100%!important;
				text-align: center;
				margin: 0 auto;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				font-size: .8em;
				text-align: left;
			}
			h4 {
				text-transform: uppercase;
				letter-spacing: .25em;
				padding-bottom: .5em;
				border-bottom: 1px solid #343434;
				@include mq($max-width: 320px) {
					font-size: .2em;
					text-align: center;
				}
				@include mq($min-width: 320px, $max-width: 480px) {
					border-bottom: none;
					text-align: center;
				}
			}
			ul {
				margin: 0 auto;
				text-align: center;
				margin-right: 2.2em;
				@include mq($max-width: 320px) {
					margin: 0;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
				}
				@include mq($min-width: 320px, $max-width: 480px) {
					margin: 0 auto;
					text-align: center;
					padding: 0;
					display: inline-flex;
					justify-content: center;
					flex-direction: column;
					flex-wrap: no-wrap;
				}
				@include mq($min-width: 768px, $max-width: 1024px) {
					display: inline-flex;
					flex-direction: column;
					padding: 0;
					margin: 0 auto;
				}
				li {
					color: #868686;
					font-size: 0.938rem;
					/* Approximation due to font substitution */
					font-weight: 400;
					line-height: 2.2;
					/* Approximation due to font substitution */
					text-align: center;
					@include mq($max-width: 320px) {
						font-size: .2em;
						margin: .425em;
					}
					@include mq($min-width: 320px, $max-width: 480px) {
						text-align: center;
						font-size: .8em;
						display: flex;
						justify-content: center;
					}
					@include mq($min-width: 768px, $max-width: 1024px) {
						text-align: left;
					}
					a {
						color: #858585;
						font-size: 0.938rem;
						@include mq($max-width: 320px) {
							font-size: .4em;
						}
						@include mq($min-width: 320px, $max-width: 480px) {
							font-size: 1.2em;
						}
						@include mq($min-width: 768px, $max-width: 1024px) {
							font-size: .5em;
							margin: 0 auto;
						}
					}
				}
			}
		}
		.boxC {
			h4 {
				text-transform: uppercase;
				letter-spacing: .25em;
				padding-bottom: .5em;
				border-bottom: 1px solid #343434;
				@include mq($max-width: 320px) {
					font-size: .2em;
					margin: .225em;
				}
				@include mq($min-width: 320px, $max-width: 480px) {
					font-size: .6em;
					padding: 1em;
					border-bottom: none;
					;
				}
				@include mq($min-width: 768px, $max-width: 1024px) {
					font-size: .8em;
					text-align: center;
				}
			}
			button {
				background: #D9DC5F;
				border: none;
				padding: .45em;
				margin-top: .5em;
				width: 100%;
			}
			li {
				color: #858585;
				font-size: .65em;
				text-align: center;
				padding: .2em;
				margin-right: 4em;
				@include mq($max-width: 320px) {
					font-size: .2em;
				}
				@include mq($min-width: 320px, $max-width: 480px) {
					font-size: .6em;
				}
				@include mq($min-width: 768px, $max-width: 1024px) {
					font-size: .5em;
					padding: 0;
				}
			}
			input {
				display: block;
				width: 100%;
				margin-top: 1em;
				padding: .25em;
				outline: #252625;
				@include mq($max-width: 320px) {
					font-size: .2em;
					margin: .225em;
				}
				@include mq($min-width: 768px, $max-width: 1024px) {}
			}
			input:focus {
				color: #252625;
			}
		}
	}
}
.headerTwo {}
.navAbout {
	border-bottom: 1px solid darken(#F9FAFB, 10%);
	ul {
		display: inline-flex;
		flex-direction: row;
		li {
			text-transform: lowercase;
			color: #696969;
			font-size: 0.866rem;
			font-weight: 400;
			margin: .225em;
		}
		.fa {
			font-size: .4rem;
			@include mq($min-width: 320px, $max-width: 480px) {
				font-size: .8rem;
			}
		}
	}
}
.aboutHero {
	height: 400px;
	max-width: 61.04%;
	margin: 0 auto;
	position: relative;
	background: url('/assets/girl_tree.jpeg');
	background-position: center 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	@include mq($min-width: 320px, $max-width: 480px) {
		background-size: cover;
		padding: 0;
		margin: 0 auto;
		max-height: 200px;
	}
	.container {
		margin: 0 auto;
		width: 61%!important;
		text-align: center;
		.heroBox {
			background: white;
			display: flex;
			padding: .225em;
			max-width: 68%;
			padding: 1em;
			position: absolute;
			bottom: 2%;
			left: 4%;
			margin-top: 2em;
			@include mq($min-width: 320px, $max-width: 480px) {
				position: absolute;
				margin: 0;
				right: 0;
				left: 0;
				bottom: -15%;
				opacity: .8;
			}
			h2 {
				padding: .1em;
				padding-left: 1.2em;
				padding-right: 1.2em;
				color: #80a05d;
				font-size: 1.0005em!important;
				font-weight: 200;
				letter-spacing: .0725em;
				line-height: 1.605;
				text-decoration: underline;
				text-align: left;
			}
			@include mq($min-width: 320px, $max-width: 480px) {
				font-size: .88em;
				max-width: 100%;
				line-height: .9;
				font-weight: 400;
				padding: 0;
				margin: 0 auto;
			}
		}
	}
}
.aboutServices {
	border-top: 1px solid #EBEBEB;
	@include mq($min-width: 320px, $max-width: 480px) {
		margin: 0 auto;
	}
	.container {
		max-width: 60%!important;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		@include mq($min-width: 320px, $max-width: 480px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
		}
		ul {
			margin: 0 auto;
			@include mq($min-width: 320px, $max-width: 480px) {
				margin: 0 auto;
				text-align: center;
				padding: 2em;
			}
			img {
				padding-top: .225em;
			}
			li {
				padding: .1em;
				margin: 0 auto;
				text-align: center;
				@include mq($min-width: 320px, $max-width: 480px) {}
			}
		}
	}
	.firstChild {
		text-transform: uppercase;
		color: #819F60;
		font-size: .7025rem;
		font-weight: 200;
		width: 10rem;
		letter-spacing: .1em;
		color: #80a05d;
		font-size: 1.125rem;
		font-weight: 500;
		@include mq($min-width: 320px, $max-width: 480px) {
			font-size: .8em;
			margin: 0 auto;
		}
	}
	p {
		color: #949494;
		font-size: 0.875rem;
		/* Approximation due to font substitution */
		font-weight: 400;
		line-height: 1.286;
		/* Approximation due to font substitution */
		text-align: center;
		padding-top: 1em;
		@include mq($min-width: 320px, $max-width: 480px) {
			font-size: .8em;
			margin: 0 auto;
			text-align: center;
			padding: .2em;
		}
	}
	.option1, .option2, .option3, .option4 {
		text-align: center;
		margin: 0 auto;
		background: #F5F5F5;
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		@include mq($min-width: 320px, $max-width: 480px) {
			padding: 1em;
		}
	}
	.option1:hover, .option2:hover, .option3:hover, .option4:hover {
		background: url('/assets/hover_image.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.option1:hover:after, .option2:hover:after, .option3:hover:after, .option4:hover:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(230, 242, 97, 0.84);
		max-width: 290px;
		height: 416px;
	}
	.option1 {
		background: url('/assets/bg_logo_left.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
	.option4 {
		background: url('/assets/bg_logo_right.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		flex: auto;
		@include mq($min-width: 320px, $max-width: 480px) {
			background-size: 100% 100%;
		}
	}
}
.testimonial {
	margin: 0 auto;
	padding: 0;
	max-height: 465px;
	background: url("/assets/flower_pots.jpeg");
	background-position: 85% 90%;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: fixed;
	@include mq($min-width: 320px, $max-width: 480px) {
		height: 300px;
		width: 100%;
		background-position: center;
		background-size: auto auto;
	}
	@include mq($min-width: 768px, $max-width: 1024px) {
		max-height: 300px;
	}
	.containertwo {
		padding: 4em;
		@include mq($min-width: 320px, $max-width: 480px) {
			padding: .5em;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			padding: .25em;
		}
	}
}
.text-wrap {
	width: 100%;
	padding: 3em;
	margin: 0 auto;
	text-align: center;
	h4 {
		color: #ffffff;
		margin: 0 auto;
		font-style: italic;
		padding-top: 1em;
		font-size: 1.6rem;
		/* Approximation due to font substitution */
		font-weight: 100;
		width: 60%;
		text-align: center;
		@include mq($min-width: 320px, $max-width: 480px) {
			color: #ffff;
			padding: 0;
			min-width: 100%;
			font-size: 1em;
			font-weight: 100;
			margin: 0 auto;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			padding: 0;
			width: 100%;
			font-size: 1.5em;
		}
	}
	.name {
		background-color: #1C1C1C;
		width: 20%;
		text-align: center;
		color: white;
		padding: .125em;
		margin: 0 auto;
		font-family: Poppins;
		color: #ffffff;
		font-size: 1.25rem;
		/* Approximation due to font substitution */
		font-weight: 600;
		margin-top: 1em;
		@include mq($min-width: 320px, $max-width: 480px) {
			max-width: 100%;
			padding: .2em;
			width: 100%;
			font-size: .8em;
			font-weight: 600;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			width: 50%;
			padding: .2em;
		}
	}
	.location {
		font-family: Poppins;
		color: #ffffff;
		font-size: 0.875rem;
		/* Approximation due to font substitution */
		font-weight: 300;
		margin: 0 auto;
		@include mq($min-width: 320px, $max-width: 480px) {
			color: #ffff;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}
.testimonial:after {
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(166, 163, 163, 0.38);
}
.containerMain {
	max-width: 1120px;
	margin: 0 auto;
}
.contactUs {
	position: relative;
	padding: 1em;
	@include mq($min-width: 1280px, $max-width: 1680px) {
		padding-top: 3em;
	}
	.container {
		width: 61%!important;
		margin: 0 auto;
		text-align: center;
		background: url('/assets/garden-way.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		height: 580px;
		width: 1170px;
		@include mq($min-width: 320px, $max-width: 480px) {
			background-size: 100% auto;
			height: 500px;
			min-width: 100%;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			background-size: auto 50%;
		}
		@include mq($min-width: 1280px, $max-width: 1680px) {
			max-width: 35%!important;
			margin: 0 auto;
		}
	}
	.contactBox {
		background: white;
		border: 1px solid transparent;
		display: flex;
		flex-direction: row;
		flex-flow: wrap row;
		justify-content: center;
		position: absolute;
		top: 75%;
		left: 26.8%;
		width: 45%;
		background: white;
		@include mq($min-width: 320px, $max-width: 480px) {
			top: 50%;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			top: 50%;
			left: 24%;
		}
		@include mq($min-width: 1280px, $max-width: 1680px) {
			left: 37.2%;
			padding: 0;
			top: 55%;
			width: 25%;
		}
		ul {
			z-index: 9999;
			display: flex;
			flex-direction: row;
			justify-content: center;
			background: white;
			margin: 0 auto;
			padding: .225em;
			@include mq($min-width: 320px, $max-width: 480px) {
				flex-direction: column;
				margin: 0 auto;
				display: inline-block;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				flex-direction: column;
				margin: 0 auto;
			}
			li {
				color: #3e3e3e;
				font-size: 0.513rem;
				/* Approximation due to font substitution */
				font-weight: 600;
				line-height: 1.2;
				/* Approximation due to font substitution */
				text-align: center;
				padding: 3.1em;
				@include mq($min-width: 320px, $max-width: 480px) {
					padding: 0;
					font-size: .6rem;
				}
				img {
					max-width: 50px;
					max-height: 40px;
					margin-bottom: 1.50em;
					@include mq($min-width: 320px, $max-width: 480px) {
						margin: 0;
						width: 30px;
						height: 30px;
						padding: .5em;
					}
				}
			}
			li:nth-child(2) {
				border-left: 1px solid #E4E4E4;
				border-right: 1px solid #E4E4E4;
				@include mq($min-width: 320px, $max-width: 480px) {
					border-top: 1px solid #E4E4E4;
					border-left: none;
					border-bottom: 1px solid #E4E4E4;
					border-right: none;
					padding: 1em;
				}
				@include mq($min-width: 768px, $max-width: 1024px) {
					border-top: 1px solid #E4E4E4;
					border-left: none;
					border-bottom: 1px solid #E4E4E4;
					border-right: none;
					padding: 1em;
				}
			}
		}
	}
}
.contactMap {
	padding-bottom: 3.5em;
	@include mq($min-width: 320px, $max-width: 480px) {
		padding: 0;
	}
	@include mq($min-width: 768px, $max-width: 1024px) {
		padding-top: 6em;
	}
	@include mq($min-width: 1280px, $max-width: 1680px) {
		padding-top: .2em;
		margin: 0 auto;
		text-align: center;
	}
	.container {
		margin: 0 auto;
		text-align: center;
		max-width: 60%!important;
		display: flex;
		flex-direction: row;
		@include mq($min-width: 320px, $max-width: 480px) {
			max-width: 100%!important;
			flex-direction: column;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			max-width: 100%!important;
			flex-direction: column;
		}
		@include mq($min-width: 1280px, $max-width: 1680px) {
			margin: 0 auto;
			max-width: 50%!important;
			flex-direction: column;
		}
		.map {
			width: 60%;
			@include mq($min-width: 320px, $max-width: 480px) {
				width: 80%;
				margin: 0 auto;
			}
			@include mq($min-width: 768px, $max-width: 1024px) {
				max-width: auto;
				margin: 0 auto;
			}
			@include mq($min-width: 1280px, $max-width: 1680px) {
				width: 70%;
				max-width: auto;
				margin: 0 auto;
			}
			img {
				height: 405px;
				width: 100%;
				display: block;
				@include mq($min-width: 320px, $max-width: 480px) {
					height: auto;
				}
			}
		}
		.formContact {
			max-width: 60%;
			margin: 0 auto;
			@include mq($min-width: 320px, $max-width: 480px) {
				max-width: 80%;
				padding: 2em;
			}
			@include mq($min-width: 1280px, $max-width: 1680px) {
				margin: 0 auto;
				padding-top: 3em;
				max-width: 70%;
				text-align: center;
			}
			p {
				color: #878787;
				font-size: 0.637rem;
				/* Approximation due to font substitution */
				font-weight: 400;
				line-height: 1.801;
				/* Approximation due to font substitution */
				text-align: center;
			}
			button {
				background-color: #80a05d;
				width: 176px;
				height: 49px;
				border: none;
				color: white;
				text-transform: Uppercase;
				font-size: 0.812rem;
				/* Approximation due to font substitution */
				font-weight: 600;
				line-height: 1.201;
				/* Approximation due to font substitution */
				text-align: center;
				@include mq($min-width: 320px, $max-width: 480px) {
					padding: 0;
					width: 100%;
					margin: 0 auto;
				}
			}
			h3 {
				font-size: 1.25em;
				text-transform: uppercase;
				line-height: .225em;
			}
			input {
				border: none;
				background-color: #f5f5f5;
				background-color: #f5f5f5;
				width: 100%;
			}
			input.message {
				background-color: #f5f5f5;
				width: 100%;
				height: 98px;
				margin: .225em;
				border: none;
			}
			.inputInfo {
				text-transform: uppercase;
				color: #202020;
				font-size: 0.812rem;
				font-weight: 600;
				line-height: 1.114;
				/* Approximation due to font substitution */
				text-align: center;
				transform: scaleX(1.0009);
				/* width and height properties ommitted due to transform */
			}
		}
	}
}
.contactHeader {
	z-index: 10;
	h1 {
		color: #ffffff;
		font-size: 2.555rem;
		/* Approximation due to font substitution */
		font-weight: 100;
		text-align: center;
		transform: scaleX(1.001);
		/* width and height properties ommitted due to transform */
		padding: 1.5em;
		text-transform: uppercase;
		color: white;
		@include mq($min-width: 320px, $max-width: 480px) {
			font-size: 1.5rem;
		}
		@include mq($min-width: 768px, $max-width: 1024px) {
			font-size: 1.4rem;
			margin: 0 auto;
		}
	}
	background:url('/assets/plants_wide.jpeg');
	background-size: cover;
	position:relative;
}
.contactHeader:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(129, 160, 93, 0.8);
}
.wrapperContact {
	max-height: 100vh;
}
.containerHead {
	width: 60%!important;
	margin: 0 auto;
}
.instagramNav {
	position: relative;
	@include mq($min-width: 320px, $max-width: 480px) {
		max-width: 100%;
		display: flex;
	}
	.followBox {
		background-color: #252525;
		max-width: 219px;
		min-height: 26px;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 14%;
		opacity: .8999;
		padding: .221em;
		@include mq($min-width: 320px, $max-width: 480px) {
			display: none;
		}
		h5 {
			color: #dddddd;
			font-size: 0.775rem;
			/* Approximation due to font substitution */
			font-weight: 100;
			text-align: center;
			padding: .155em;
			margin: 1em;
		}
	}
	.followLink {
		background-color: #d9de55;
		width: 145px;
		max-height: 18%;
		position: absolute;
		bottom: 0;
		margin: 0 auto;
		text-align: center;
		right: 14%;
		opacity: .9;
		@include mq($min-width: 320px, $max-width: 480px) {
			display: none
		}
		h5 {
			color: #252525;
			font-size: 0.875rem;
			/* Approximation due to font substitution */
			font-weight: 400;
			line-height: .3;
			/* Approximation due to font substitution */
			text-align: center;
		}
	}
	margin:0;
	padding:0;
	ul {
		min-width: 100%;
		padding: 0;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		justify-content: space-around;
		@include mq($min-width: 320px, $max-width: 480px) {
			justify-content: space-between;
		}
		li {
			padding: 0;
			img {
				display: block;
				@include mq($min-width: 320px, $max-width: 480px) {
					width: 100%;
				}
			}
		}
	}
}